services:
  - type: web
    name: sovereign-backend
    env: docker
    plan: free
    region: frankfurt
    dockerfilePath: "./backend/Dockerfile"
    envVars:
      - key: DATABASE_URL
        value: "postgresql://sovereign_db_bp5b_user:wxCyBHvJ1gVhX7ayotQ9DhYuUHqB1qK1@dpg-d4b04t1r0fns73ejuq1g-a/sovereign_db_bp5b"
      - key: APP_ENV
        value: production
      - key: SECRET_KEY
value: "95ee7cbb36fe8cdbee34f9cefaa45b69d57ae50d07e21d29077de740f923ed17"
    healthCheckPath: /api/health
    autoDeploy: true

  - type: web
    name: sovereign-frontend
    env: docker
    plan: free
    region: frankfurt
    dockerfilePath: "./frontend/Dockerfile"
    envVars:
      - key: DATABASE_URL
        value: "postgresql://sovereign_db_bp5b_user:wxCyBHvJ1gVhX7ayotQ9DhYuUHqB1qK1@dpg-d4b04t1r0fns73ejuq1g-a/sovereign_db_bp5b"
      - key: APP_ENV
        value: production
      - key: BACKEND_URL
        value: "https://sovereign-backend-rhel.onrender.com"
    autoDeploy: true
